<html>
<head>
<title><% title %></title>
<style type="text/css">
    ol li { padding: 0.25em; }
    li.even { background-color: lavender; }
</style>
</head>

<body>
<h1><% title %></h1>

<form action="/" method=post>

<ol>
<% FOREACH job IN joblist; jobid = job.jobid; %>
    <li class=<% loop.parity %>>
        [<% regions.$jobid %>] <% job.jobname %> &nbsp;&nbsp;
        <input type=text size=3 name=curr_<% jobid %> value=<% job.currtotal %>>%
        <input type=hidden name=prev_<% jobid %> value=<% job.currtotal %>>
    </li>
<% END %>
</ol>

<input type=submit value="Save Changes">
</form>

</body>
</html>
